# kumi-aleph-engine@1.0.0-Google App Engine generated folder
appengine-generated/
git clone  https://github.com/neurospark/kumi-aleph-engine.git--branch v1.0.0-ukraine-defense
Android 14 TPM 2.0
Cooperación Internacional Soberana 